n8n-workflows/festival-intelligence.json
{
  "name": "Festival Intelligence Weekly",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 9 * * 3"}]}
      },
      "id": "1d10062e-e47e-4e80-8da5-b900103b90d7",
      "name": "Weekly Wednesday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-224, 112]
    },
    {
      "parameters": {"path": "festival-intel", "options": {}},
      "id": "webhook-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-224, 12],
      "webhookId": "festival-intel"
    },
    {
      "parameters": {"url": "https://www.reddit.com/r/aivideo/top.json?t=week&limit=50", "options": {}},
      "id": "018c3cef-c573-45d1-9d48-db00cf537bf8",
      "name": "Reddit AIVideo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 0]
    },
    {
      "parameters": {"url": "https://www.reddit.com/r/runwayml/top.json?t=week&limit=30", "options": {}},
      "id": "fb32f365-db59-4f14-9c32-60cadc71a07f",
      "name": "Reddit Runway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 112]
    },
    {
      "parameters": {"url": "https://www.reddit.com/r/SoraAI/top.json?t=week&limit=30", "options": {}},
      "id": "c7e75875-8e33-42fd-9ce2-f67492895b61",
      "name": "Reddit Sora",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 208]
    },
    {
      "parameters": {"url": "https://hn.algolia.com/api/v1/search?query=ai%20film%20OR%20ai%20video%20OR%20generative%20video&tags=story&hitsPerPage=30", "options": {}},
      "id": "f6f4bd94-5e64-4d78-b73c-1dd283d14008",
      "name": "HN AI Film",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 304]
    },
    {
      "parameters": {
        "jsCode": "// Consolidate AI filmmaking content\nconst items = [];\n\nfor (const input of $input.all()) {\n  const data = input.json;\n  \n  // Reddit format\n  if (data.data && data.data.children) {\n    for (const child of data.data.children) {\n      const post = child.data;\n      items.push({\n        source: post.subreddit === 'aivideo' ? 'r/aivideo' : \n                post.subreddit === 'runwayml' ? 'r/runwayml' : \n                post.subreddit === 'SoraAI' ? 'r/SoraAI' : `r/${post.subreddit}`,\n        title: post.title,\n        url: post.url || `https://reddit.com${post.permalink}`,\n        score: post.score,\n        comments: post.num_comments,\n        created: new Date(post.created_utc * 1000).toISOString(),\n        selftext: post.selftext || '',\n        flair: post.link_flair_text || '',\n        is_video: post.is_video || (post.url && (post.url.includes('v.redd.it') || post.url.includes('youtube') || post.url.includes('vimeo')))\n      });\n    }\n  }\n  \n  // HN format\n  if (data.hits) {\n    for (const hit of data.hits) {\n      items.push({\n        source: 'HackerNews',\n        title: hit.title,\n        url: hit.url || `https://news.ycombinator.com/item?id=${hit.objectID}`,\n        score: hit.points || 0,\n        comments: hit.num_comments || 0,\n        created: hit.created_at,\n        selftext: '',\n        flair: '',\n        is_video: false\n      });\n    }\n  }\n}\n\n// Categorize by type\nconst filmKeywords = ['film', 'movie', 'short', 'cinema', 'narrative', 'story', 'director', 'shot', 'scene'];\nconst toolKeywords = ['runway', 'sora', 'kling', 'pika', 'minimax', 'hailuo', 'luma', 'stable video', 'gen-3', 'gen3'];\nconst techniqueKeywords = ['workflow', 'tutorial', 'how to', 'prompt', 'technique', 'tips', 'guide'];\n\nconst categorized = items.map(item => {\n  const text = (item.title + ' ' + item.selftext + ' ' + item.flair).toLowerCase();\n  let category = 'Techniques'; // default\n  \n  if (filmKeywords.some(kw => text.includes(kw))) category = 'Films/Projects';\n  else if (toolKeywords.some(kw => text.includes(kw))) category = 'Tools/Platforms';\n  else if (techniqueKeywords.some(kw => text.includes(kw))) category = 'Techniques';\n  \n  return { ...item, category };\n});\n\n// Filter by score >= 10 and sort by score descending\nconst filtered = categorized.filter(item => item.score >= 10);\nfiltered.sort((a, b) => b.score - a.score);\n\n// Return top 30 items\nreturn filtered.slice(0, 30).map(item => ({ json: item }));"
      },
      "id": "ef2f6cfa-8004-41c8-800d-13a9022ad4f6",
      "name": "Categorize Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [288, 160]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {"__rl": true, "mode": "id", "value": "6395b6ad7a9a404d8d720d4353effae6"},
        "title": "={{ $json.title.substring(0,100) }}",
        "propertiesUi": {
          "propertyValues": [
            {"key": "URL|url", "urlValue": "={{ $json.url }}"},
            {"key": "Score|number", "numberValue": "={{ $json.score }}"},
            {"key": "Comments|number", "numberValue": "={{ $json.comments }}"},
            {"key": "Source|select", "selectValue": "={{ $json.source }}"},
            {"key": "Category|select", "selectValue": "={{ $json.category }}"},
            {"key": "Has Video|checkbox", "checkboxValue": "={{ $json.is_video }}"},
            {"key": "Date|date", "includeTime": false, "date": "={{ $json.created.split('T')[0] }}"},
            {"key": "Date Scraped|date", "includeTime": false, "date": "={{ $now.toISODate() }}"}
          ]
        },
        "options": {}
      },
      "id": "notion-create",
      "name": "Add to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [512, 160],
      "credentials": {
        "notionApi": {
          "id": "iPf6O1bq7aydtAuc",
          "name": "Notion API"
        }
      }
    }
  ],
  "connections": {
    "Weekly Wednesday 9am": {
      "main": [[
        {"node": "Reddit AIVideo", "type": "main", "index": 0},
        {"node": "Reddit Runway", "type": "main", "index": 0},
        {"node": "Reddit Sora", "type": "main", "index": 0},
        {"node": "HN AI Film", "type": "main", "index": 0}
      ]]
    },
    "Manual Trigger": {
      "main": [[
        {"node": "Reddit AIVideo", "type": "main", "index": 0},
        {"node": "Reddit Runway", "type": "main", "index": 0},
        {"node": "Reddit Sora", "type": "main", "index": 0},
        {"node": "HN AI Film", "type": "main", "index": 0}
      ]]
    },
    "Reddit AIVideo": {"main": [[{"node": "Categorize Content", "type": "main", "index": 0}]]},
    "Reddit Runway": {"main": [[{"node": "Categorize Content", "type": "main", "index": 0}]]},
    "Reddit Sora": {"main": [[{"node": "Categorize Content", "type": "main", "index": 0}]]},
    "HN AI Film": {"main": [[{"node": "Categorize Content", "type": "main", "index": 0}]]},
    "Categorize Content": {"main": [[{"node": "Add to Notion", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "availableInMCP": false}
}
